.sub-page-container { 
  padding: 20px; }

.sub-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 10px 0;
}

/* Button style eka */
.action-btn-primary {
  background-color: #6A4E42;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold; 
  margin-right: 10px;
}

.sub-page-header h2 {
  margin-left: 20px; /* ona pramanayata wedi karanna */
}

/* Description ekata podi style ekak */
.sub-page-header p {
  margin: 20px;
  color: #666;
  font-size: 14px;
}


.filter-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  
}

.filter-select, .search-input-sub {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background: white;
}

.table-container {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  overflow: hidden;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  background-color: #fafafa;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.custom-table td {
   padding: 15px; 
   border-bottom: 1px solid #f9f9f9; 
  }

.empty-table-msg {
  text-align: center; 
  padding: 50px; 
  color: #aaa;
}